.banner
	position: relative

	&__info
		width: 50%
		margin-left: auto
		display: flex
		flex-direction: column
		justify-content: center

		&-cont
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			color: #fff
			display: flex

			> .wrapper
				display: flex
				width: 100%

		&-title
			font-size: rem(40)
			font-weight: bold

		&-btn
			margin-top: 70px

			.btn
				color: #000


