<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Типовая страница
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.content
				.inner-content
					.wrapper
						.inner-content__title
							.title-block
								.title-block__title
									h1 H1. Продвижение по трафику
								.title-block__crumbs
									.bread-crumbs
										a.bread-crumbs__link(href="#") СайтАктив
										a.bread-crumbs__link(href="#") SEO-продвижение
										span.bread-crumbs__this Продвижение по трафику
							.title-btn
								a.right-btn__link(href="#")
					.inner-content__content
						.wrapper
							.standart-page
								.standart-page__text
									<!-- по классу .text-page применяются контентные стили -->
									.text-page
										h2 H2. Типовая текстовая страница
										p Комплексное продвижение сайта в СайтАктив — это несколько вариантов раскрутки сайта (трафик, ТОП, лиды), высокие гарантии и комплексное сопровождение проекта на всех этапах.
										img(src="img/photos/default-img.jpg" align="left")
										p Текст, располагающийся справа от формы — это должен быть вспомогательный элемент, а не основной, как сделано сейчас.
										p Этого текста надо меньше и не так размашисто, нам надо пару предложений там написать.. возможно оформленного как то оригинально, а не войну и мир писать. Текст, располагающийся справа от формы — это должен быть вспомогательный элемент.
										p Возможно, стоит блок с этим текстом сделать немного меньше по размеру (ширине).
										p Текст, располагающийся справа от формы — это должен быть вспомогательный элемент, а не основной, как сделано сейчас.
										p Этого текста надо меньше и не так размашисто, нам надо пару предложений там написать.. возможно оформленного как то оригинально, а не войну и мир писать. Текст, располагающийся справа от формы — это должен быть вспомогательный элемент.
										p Возможно, стоит блок с этим текстом сделать немного меньше по размеру (ширине).
										ul
											li Комплексное продвижение сайта в СайтАктив – это несколько вариантов раскрутки сайта (трафик, ТОП, лиды), высокие гарантии и комплексное сопровождение проекта на всех этапах.
											li Google AdWords - подбор запросов
											li специализированное ПО
											li собственные базы ключевых фраз
											li статистика Рамблера
											li ключевые фразы , используемые для продвижения сайтов-конкурентов
											li Возможно, стоит блок с этим текстом сделать немного меньше по размеру (ширине).
												br 
												br 
											li Google AdWords - подбор запросов
											li специализированное ПО
											li собственные базы ключевых фраз
											li комплексное продвижение сайта в СайтАктив – это несколько вариантов раскрутки сайта (трафик, ТОП, лиды), высокие гарантии и комплексное сопровождение проекта на всех этапах.
										blockquote * Если все рекламируемые товары/услуги/работы сертифицированы и все предоставленные материалы  
											br
											| соответствуют требованиям действующего законодательства РФ о рекламе.
										h3 H3. Стоимость продвижения сайта
										p Комплексный и полноценный подход к работе над Вашим интернет-сайтом позволяет нам достигать уже через 3 недели самых первых положительных результатов (достаточно около 2-3 полноценных обновлений алгоритмов поисковых систем). Достижение окончательного результата соблюдается в сроки, которые заранее описаны в договоре ( 4-6 месяцев в случае продвижения интернет-ресурса в ТОП).
										p
											b От 12000 руб./мес. – такова цена раскрутки сайта. 
											| Данная стоимость складывается из параметров:
										ul.multicolor
											li UL Подобранное и распределенное количество запросов: сумма стоимости продвижения каждого отдельно взятого запроса.
											li Подобранное и распределенное количество запросов: сумма стоимости продвижения каждого отдельно взятого запроса.
											li Качество Вашего сайта: при наличии большого числа ошибок, касающихся внутренних и внешних факторов, Ваш сайт становится более «сложным» для настройки под поисковые алгоритмы. Если присутствуют критические ошибки, исправление которых не имеет смысла, то оптимальным и эффективным вариантом будет полное восстановление и переделка дизайна сайта (редизайн) и перенос старого применяемого функционала на нашу новую систему администрирования (CMS).
											li При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Этап оптимизации сайта будет , а общая сумма за продвижение и улучшение интернет-ресурса будет 
											li 
												a(href="#" title="Достижение окончательного результата соблюдается в сроки, которые описаны в договоре (4-6 месяцев в случае продвижения интернет-ресурса в ТОП)") Степень конкуренции 
												| тематики Вашего сайта.
										p 
											b От 12000 руб./мес. – такова цена раскрутки сайта. 
											| Данная стоимость складывается из параметров:
										ul.red
											li Подобранное и распределенное количество запросов: сумма стоимости продвижения каждого отдельно взятого запроса.
											li При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Этап оптимизации сайта будет , а общая сумма за продвижение и улучшение интернет-ресурса будет значительно дешевле.
											li Степень конкуренции тематики Вашего сайта.
										p 
											b От 12000 руб./мес. – такова цена раскрутки сайта.
											| Данная стоимость складывается из параметров:
										ul.gray
											li Подобранное и распределенное количество запросов: сумма стоимости продвижения каждого отдельно взятого запроса.
											li При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Этап оптимизации сайта будет , а общая сумма за продвижение и улучшение интернет-ресурса будет значительно дешевле.
											li Степень конкуренции тематики Вашего сайта.
										p 
											b От 12000 руб./мес. – такова цена раскрутки сайта.
											| Данная стоимость складывается из параметров:
										ul.blackgray
											li Подобранное и распределенное количество запросов: сумма стоимости продвижения каждого отдельно взятого запроса.
											li При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Этап оптимизации сайта будет , а общая сумма за продвижение и улучшение интернет-ресурса будет значительно дешевле.
											li Степень конкуренции тематики Вашего сайта.
										p Комплексный и полноценный подход к работе над Вашим интернет-сайтом позволяет нам достигать уже через 3 недели самых первых положительных результатов (достаточно около 2-3 полноценных обновлений алгоритмов поисковых систем). Достижение окончательного результата соблюдается в сроки, которые заранее описаны в договоре ( 4-6 месяцев в случае продвижения интернет-ресурса в ТОП).
										h4 H4. Этапы продвижения сайта
										ol
											li OL Внутренняя оптимизация сайта
												ul
													li UL Проверка сайта по чек-листу из 100 пунктов, с целью выявления всех технических и функциональных недочетов интернетсайта.
													li LI Исправление всех найденных ошибок: удаление вирусов, создание и настройка необходимых служебных файлов, корректировка ошибочных страниц, устранение багов и пр.
													li Проверка на наличие наложенных поисковиками санкций или фильтров
											li Внутренняя оптимизация сайта
												ul
													li Проверка сайта по чек-листу из 100 пунктов, с целью выявления всех технических и функциональных недочетов   интернетсайта.
													li Исправление всех найденных ошибок: удаление вирусов, создание и настройка необходимых служебных файлов, 
													a(href="#") корректировка ошибочных
													| страниц, устранение багов и пр.
													li Проверка на наличие наложенных поисковиками санкций или фильтров
											li Внутренняя оптимизация сайта
												ul
													li Проверка сайта по чек-листу из 100 пунктов, с целью выявления всех технических и функциональных недочетов  интернетсайта.
													li Исправление всех найденных ошибок: удаление вирусов, создание и настройка необходимых служебных файлов, корректировка ошибочных страниц, устранение багов и пр.
													li Проверка на наличие наложенных поисковиками санкций или фильтров
										p Комплексный и полноценный подход к работе над Вашим интернет-сайтом позволяет нам достигать уже через 3 недели самых первых положительных результатов (достаточно около 2-3 полноценных обновлений алгоритмов поисковых систем). Достижение окончательного результата соблюдается в сроки, которые заранее описаны в договоре ( 4-6 месяцев в случае продвижения интернет-ресурса в ТОП).
										h3 Пример обычного нумерованного списка
										p Комплексный и полноценный подход к работе над Вашим интернет-сайтом позволяет нам достигать уже через 3 недели самых первых положительных результатов (достаточно около 2-3 полноценных обновлений алгоритмов поисковых систем). Достижение окончательного результата соблюдается в сроки, которые заранее описаны в договоре ( 4-6 месяцев в случае продвижения интернет-ресурса в ТОП).
										p З/п 
											span(style="font-size: 20px") от 35 000 до 60 000 руб. 
											| (!)
										ol.multicolor
											li OL Подобранное и распределенное количество запросов: сумма стоимости продвижения каждого отдельно взятого запроса
											li OL Качество Вашего сайта: при наличии большого числа ошибок, касающихся внутренних и внешних факторов, Ваш сайт становится более «сложным» для настройки под поисковые алгоритмы. Если присутствуют критические ошибки, исправление которых не имеет смысла, то оптимальным и эффективным вариантом будет полное восстановление и переделка дизайна сайта (редизайн) и перенос старого применяемого функционала на нашу новую систему администрирования (CMS).
											li OL При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Таким образом этап оптимизации сайта будет совершенно бесплатным, а общая сумма за продвижение и улучшение интернет-ресурса будет значительно дешевле.
										h2 Что входит в поддержку контекстной рекламы в СайтАктиве?
										br 
										table(border="1")
											thead
												tr
													th №
													th 
														p(style="text-align: left") Работы
													th Разово
													th Ежедневно
													th Еженедельно
													th Ежемесячно
													th По&nbsp;необходимости
											tbody
												tr
													td 
														p(style="text-align: center") 1
													td Первоначальное создание необходимого числа объявлений и групп объявлений вручную или автоматически на основании шаблона.
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
												tr
													td 
														p(style="text-align: center") 2
													td
														a(href="#") Создание карточки 
														| организации в Яндекс Справочнике.
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
												tr
													td 
														p(style="text-align: center") 3
													td  Правка заголовков объявлений и текста объявлений для увеличения CTR
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-good.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-good.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-good.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-good.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-good.png")
												tr
													td 
														p(style="text-align: center") 4
													td Правка и корректировка ставок для увеличения CTR
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-bad.png")
												tr
													td 
														p(style="text-align: center") 5
													td Задание целей на сайте в Яндекс.Метрике и Аналитике для увеличения конверсии
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-good.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-good.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-good.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-good.png")
													td 
														p(style="text-align: center")
															img(src="img/photos/ico-good.png")
										p При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Таким образом этап оптимизации сайта будет совершенно бесплатным, а общая сумма за продвижение и улучшение интернет-ресурса будет значительно дешевле.
										blockquote
											i “Design is not just what it looks like and feels like. Design is how it works)”
												br
												| — Steve Jobs
										p При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Таким образом этап оптимизации сайта будет совершенно бесплатным, а общая сумма за продвижение и улучшение интернет-ресурса будет значительно дешевле.
										img(src="img/photos/!.png" align="left")
										p При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств.
										p При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Таким образом этап оптимизации сайта будет совершенно бесплатным, а общая сумма за продвижение и улучшение интернет-ресурса будет значительно дешевле.
										p При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Таким образом этап оптимизации сайта будет совершенно бесплатным, а общая сумма за продвижение и улучшение интернет-ресурса будет значительно дешевле.
										img(src="img/photos/default-img-2.jpg" align="right")
										p При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет.
										p При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Таким образом этап оптимизации сайта будет совершенно бесплатным, а общая сумма за продвижение и улучшение интернет-ресурса будет значительно дешевле.
										p При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет.
										p При отсутствии ошибок на сайте и соответствии всем актуальным и значимым требованиям поисковых систем, внесение технически сложных правок для Вашего сайта производиться не будет, как и взимание с Вас денежных средств. Таким образом этап оптимизации сайта будет совершенно бесплатным, а общая сумма за продвижение и улучшение интернет-ресурса будет значительно дешевле.
								.standart-page__another
									.standart-page__another-title Вам также подходит
									.another-services
										each item in [{title: "Performance-маркетинг", text: "Создаем комплексные рекламные стратегии для достижения целей вашего бизнеса"}, {title: "Комплекс платных каналов", text: "Привлекаем клиентов из контекстных и медийных сетей на базе технологии Cubo Cloud"}, {title: "Комплексное продвижение сайта", text: "Повышаем популярность бренда и увеличиваем продажи с сайта"}, ]
											.another-services__item
												.another-services__item-title=item.title
												.another-services__item-text=item.text
												.another-services__item-btn
													a.default-btn(href="#") Подробнее
		include inc/footer.pug
		include inc/scripts.pug